body {
    background-color : #303030;
    color : white;
    font-size : 12px;
    margin : 0 !important;
}

nav {
    text-align: center;
    margin-left : auto;
    margin-right : auto;
    margin-top : 10px;
    margin-bottom : 10px;
    height : 20px;
    padding : 10px;
    font-size : 15px;
}

header {
    width : 1000px;
    margin-left: auto;
    margin-right: auto;
}

#content {
    width : 1000px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

input {
    text-align: center;
    font-size : 11px;
}

select {
    font-size : 11px;
}

ul {
    text-align: left;
    margin-left : auto;
    margin-right : auto;
    list-style-type: none;
    list-style-position: outside;
    list-style-image: none;
    width : 300px;
    max-width: 500px;
}

i {
    color : red;
}



p {
    text-align: left;
    margin-left : 10px;
}

li {
    margin : 10px 10px 5px 10px;
    text-align: left;
    border-style: dotted;
    padding : 5px;

}

h1, h2, h3, h4 {
    margin-left: auto;
    margin-right : auto;
    text-align: center;
}

fieldset {
    padding : 10px;
}

input[type="submit"], input[type="reset"], #no-button {
    padding : 3px;
    margin : 15px 5px 0 5px;
    font-size : 14px;
}

.assigned-issues {
    margin-left : 10px;
}

.form {
    text-align: center;
    margin-left : auto;
    margin-right : auto;
    width : 400px;
    max-width: 500px;
    box-sizing: border-box;
}

fieldset {
    width : 400px;
    max-width: 500px;
}

/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: orange;
}

/* mouse over link */
a:hover {
    color : crimson;
}

/* selected link */
a:active {
    color: crimson;
}

