<!DOCTYPE html>
<html>
<head>
    <title>Issue tracker</title>
    <link rel="stylesheet" href="../../public/style/stylesheet.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../../public/js/scripts.js"></script>
</head>


<body>
<header>
    <%- include navbar.ejs %>
</header>
<section id="content">
    <form class="form" action="/issues/editIssue" method="post">
        <input id="id" type="hidden" name="id" value="<%=issue.id%>" required/>
        <fieldset>
            <label>
                title
                <input id="title" type="text" name="title" pattern="^[a-zA-Z0-9ĄĆĘŁŃÓŚŹŻąćęłńóśźż!@#$*_/.\-,\s]+$" minlength="3" maxlength="100" value="<%=issue.title%>" required/>
            </label>
        </fieldset>
        <fieldset>
            <label>
                description
                <textarea id="description" rows="8" cols="45" name="description" required><%=issue.description%></textarea>
            </label>
        </fieldset>
        <fieldset>
            <label>
                state
                <select id="state" name="state" required>
                    <% if(issue.state === "OPEN"){%>
                    <option value="OPEN" selected="selected">Open</option>
                    <option value="PENDING">Pending</option>
                    <option value="CLOSED">Closed</option>
                    <%}%>

                    <% if(issue.state === "PENDING"){%>
                    <option value="PENDING" selected="selected">Pending</option>
                    <option value="CLOSED">Closed</option>
                    <%}%>
                    <% if(issue.state === "CLOSED"){%>
                    <option value="CLOSED" selected="selected">Closed</option>
                    <%}%>
                </select>
            </label>
        </fieldset>
        <input type="reset" value="Reset"/>
        <input type="submit" value="Edit"/>
    </form>
</section>

</body>

<script>
    $(document).ready(function(){
        $("#description").bind("keyup", { }, validateTextArea);
    });
</script>
</html>