<!DOCTYPE html>
<html>
<head>
    <title>Issue tracker</title>
    <link rel="stylesheet" href="../../public/style/stylesheet.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../../public/js/scripts.js"></script>
</head>


<body>
<header>
    <%- include navbar.ejs %>
</header>
<section id="content">
    <form class="form" action="/users/editUser" method="post">
        <input id="id" type="hidden" name="id" value="<%=user.id%>" required/>
        <fieldset>
            <label>
                name
                <input id="name" type="text" name="name" pattern="^[a-zA-Z0-9ĄĆĘŁŃÓŚŹŻąćęłńóśźż!@#$*_/.\-,\s]+$" minlength="3" maxlength="100" value="<%=user.name%>" required/>
            </label>
        </fieldset>
        <fieldset>
            <label>
                email
                <input id="email" type="text" name="email" pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$" minlength="10" maxlength="40" value="<%=user.email%>" required/>
            </label>
        </fieldset>
        <input type="reset" value="Reset"/>
        <input type="submit" value="Edit"/>
    </form>
</section>

</body>

<script>
    $(document).ready(function(){
        console.log("ready");
    });
</script>
</html>