<!DOCTYPE html>
<html>
<head>
    <title>Issue tracker</title>
    <link rel="stylesheet" href="../public/style/stylesheet.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../public/js/scripts.js"></script>
</head>


<body>
    <header>
        <%- include navbar.ejs %>
    </header>
    <section id="content">
        <h1>Issue tracker</h1>
    </section>

</body>

<script>
    $(document).ready(function(){
        console.log("ready");
    });
</script>
</html>