<!DOCTYPE html>
<html>
<head>
    <title>Issue tracker</title>
    <link rel="stylesheet" href="../public/style/stylesheet.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../public/js/scripts.js"></script>
</head>


<body>
<header>
    <%- include navbar.ejs %>
    <nav>
        <a href="/issues/createIssue">Create issue</a>
    </nav>
</header>
<section id="content">

    <h3>List of existing issues</h3>
    <ul>
        <% if(issues.length){%>
        <% for(var i = 0; i<issues.length; i++){%>
        <li>
            <p>
                <label>Title <i><%= issues[i].title%></i></label> <br>
                <label>Description <i><%= issues[i].description%></i></label> <br>
                <label>State <i> <%= issues[i].state.toLowerCase()%></i></label> <br>
                <h3>Assigned to following users</h3>
                <% if(issues[i].Users.length){%>
                    <ol>
                    <% for(var j = 0; j<issues[i].Users.length; j++){%>
                    <li><label>Name <i><%=issues[i].Users[j].name%></i></label></li>
                    <%}%>
                    </ol>
                <%} else {%>
                <label><b>No user assigned</b></label> <br>
                <%}%>
                <nav class="actions">
                    <a href="/issues/editIssue/<%=issues[i].id%>">Edit</a> |
                    <a href="/issues/removeIssue/<%=issues[i].id%>">Remove</a>
                </nav>

            </p>
        </li>
        <%}%>
        <%} else {%>
        <h4>There are no issues</h4>
        <%}%>
    </ul>
</section>

</body>

<script>
</script>
</html>