<!DOCTYPE html>
<html>
<head>
    <title>Issue tracker</title>
    <link rel="stylesheet" href="../../public/style/stylesheet.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../../public/js/scripts.js"></script>
</head>


<body>
<header>
    <%- include navbar.ejs %>
</header>
<section id="content">
    <form class="form" action="/issues/removeIssue" method="post">
        <input id="id" type="hidden" name="id" value="<%=issue.id%>" required/>
        <label>Are you sure you want to remove issue <i><%=issue.title%></i> ?</label> <br>
        <input type="submit" value="Yes"> |
        <button id="no-button">No</button>
    </form>
</section>

</body>

<script>
    $(document).ready(function(){
        console.log("ready");
        $("#no-button").bind("click", {}, handleRedirectToIssues);
    });
</script>
</html>