<!DOCTYPE html>
<html>
<head>
    <title>Issue tracker</title>
    <link rel="stylesheet" href="../../public/style/stylesheet.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../../public/js/scripts.js"></script>
</head>


<body>
<header>
    <%- include navbar.ejs %>
</header>
<section id="content">
    <% if(issues.length){%>
    <form class="form" action="/users/unassignIssue" method="post">
        <input id="userId" type="hidden" name="userId" value="<%=user.id%>" required/>
        <fieldset>
            <label>Chosen user <i><%= user.name%></i> </label>
        </fieldset>
        <fieldset>
            <label>
                issue
                <select id="issueId" name="issueId" required>
                    <% for(var i = 0; i<issues.length; i++){%>
                    <option value=<%=issues[i].id%>><%= issues[i].title%></option>
                    <%}%>
                </select>
            </label>
        </fieldset>
        <input type="reset" value="Reset"/>
        <input type="submit" value="Unassign"/>
    </form>
    <%}%>
</section>
</body>

<script>
    $(document).ready(function(){
        console.log("ready");
        var issues = <%- JSON.stringify(issues) %>;
        console.log("issues = ", issues);
        if(!issues.length){
            alert('User does not have assigned issues');
            window.location="http://localhost:3000/users";
        }
    });
</script>
</html>