<!DOCTYPE html>
<html>
<head>
    <title>Issue tracker</title>
    <link rel="stylesheet" href="../public/style/stylesheet.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../public/js/scripts.js"></script>
</head>


<body>
<header>
    <%- include navbar.ejs %>
    <nav>
        <a href="/users/createUser">Create user</a>
    </nav>
</header>
<section id="content">

    <h2>List of existing users</h2>
    <ul>
        <% if(users.length){%>
        <% for(var i = 0; i<users.length; i++){%>
        <li>
            <p>
                <label>Name <i><%= users[i].name%></i></label> <br>
                <label>Mail <i> <%= users[i].email%></i></label> <br>
            <h4>Assigned issues</h4>
            <% if(users[i].Issues.length){%>
            <% for(var j = 0; j<users[i].Issues.length; j++){%>
            <label class="assigned-issues">Title <i><%=users[i].Issues[j].title%></i></label> <br>
            <%}%>
            <%} else {%>
            <label class="assigned-issues"><b>No issues assigned</b></label> <br>
            <%}%>
            <nav class="actions">
            <a href="/users/editUser/<%=users[i].id%>">Edit</a> |
            <a href="/users/removeUser/<%=users[i].id%>">Remove</a> |
            <a href="/users/assignIssue/<%=users[i].id%>">Assign issue</a> |
            <a href="/users/unassignIssue/<%=users[i].id%>">Unassign issue</a>
            </nav>
            </p>
        </li>
        <%}%>
        <%} else {%>
        <h3>There are no users</h3>
        <%}%>
    </ul>
</section>

</body>

<script>
    /*function handleLogin(e){
        console.log("clicked");
    }*/
    $(document).ready(function(){
        console.log("ready");

    });
</script>
</html>